<!DOCTYPE html>
<html>
<head>
  <title>Login</title>

  <link
    rel="stylesheet"
    href="/css/style.css"
  >
</head>

<body>
   

<div class="feed-container">
     <h1 align="center">TokTik</h1><br><br>

  <div
    class="post-card"
    style="
      max-width:450px;
      margin:auto;
      margin-top:80px;
    "
  >

    <h1
      style="
        text-align:center;
        margin-bottom:25px;
      "
    >
      Login
    </h1>

    <% if (errorMessages.length > 0) { %>

      <p
        style="
          color:red;
          margin-bottom:15px;
          text-align:center;
        "
      >
        <%= errorMessages[0] %>
      </p>

    <% } %>

    <form
      action="/login"
      method="POST"
    >

      <input
        type="text"
        name="username"
        placeholder="Username"
        required
      />

      <br><br>

      <input
        type="password"
        name="password"
        placeholder="Password"
        required
      />

      <br><br>

      <button
        type="submit"
        style="width:100%;"
      >
        Login
      </button>

    </form>

    <br>

    <p
      style="
        text-align:center;
      "
    >

      Don't have an account?

      <a href="/register">
        Create account
      </a>

    </p>

  </div>

</div>

</body>
</html>