<!DOCTYPE html>
<html>
<head>
  <title>Social Media App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1>Welcome</h1>

  <% if (currentUser) { %>
    <a href="/feed">Go To Feed</a>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>

</body>
</html>